body {
  background: linear-gradient(135deg, #ba23c2, #fb4078);
  color: black;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.5rem;
}

#countdown p {
  margin: 2px;
}

#countdown div {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}